@model dynamic

@{
    ViewBag.Title = "Portfolio - Hristo Hentov";
}

<div id="pBanner">
    <a href=@Url.Action("Design")>
        <div class="slanted design"><span>Design</span></div>
    </a>

    <a href=@Url.Action("Development")>
        <div class="slanted dev"><span>Development</span></div>
    </a>
</div>