@{
    ViewBag.Title = "Index";
}


<div class="container-fluid bg-1 text-center" id="about-container">
    <img src="~/Content/img/avatar.png" class="img-circle" alt="Cinque Terre" width="192" height="197">
</div>
<div class="container text-center">
    <h3>Hi, nice to meet you</h3>
    <div class="row">
        <p class="col-md-12 text-center">
            Thanks for stopping by at the about page. While you are here, allow me to introduce myself. My name is Hristo Hentov and I am 20 year old student from Samokov,Bulgaria
            currently located in Bulgaria's capital city - Sofia. I am a half developer, half designer type of guy. For development - I'm primaraly focus on C++ and .NET and for
            designing, well I do 3D Stuff in Blender/Cinema4D, some VFX and motion design in After Effects and some 2D design in Photoshop/Illustrator. In my free time I really
            enjoy playing video games, working out and watching completely pointless videos on YouTube for hours on end. Thats me in a nutshell. If you want to learn more about me
            you can do so by following me on social media (links below) or straight up contact me (also below).
        </p>
    </div>
</div>


<section class="section-padding wow fadeInUp delay-05s" id="contact">
    <div class="container">
        <div class="row white">
            <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title black">Contact Me</h2>
                    <hr class="botm-line">
                    <p class="sec-para black">You can find me on social media for the most part, but feel free to message me here for all kinds of business enquries.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                    <h3 class="cont-title">Send an email</h3>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="contact-info">
                        @using (Html.BeginForm("SendMail", "About", null, FormMethod.Post, new {@class = "contactForm"}))
                        {
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <button type="submit" class="btn btn-send">Send</button>
                        }
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="cont-title">Get in touch</h3>
                    <div class="location-info">
                        <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Sofia, Bulgaria</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: 088 10 20 345</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">h_hentov@yahoo.com</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                        <span aria-hidden="true" class="fa fa-envelope-o"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

