@model dynamic

@{
    ViewBag.Title = "Successfully sent a message";
}

<div class="container">
    <div class="jumbotron">
        <h1>Message succesfully sent!</h1>
        <p>
            Your message has been sent. Thank you for your input.
            We will get back to you ASAP.
        </p>
    </div>
</div>
