@using HentovWebsite.Utility
@model dynamic

@{
    ViewBag.Title = "Successfully sent a message";
}

<div class="container">
    <div class="jumbotron">
        <h1>@WebText.MessageSentHeading</h1>
        <p>
            @WebText.MessageSent
        </p>
    </div>
</div>
