<div class="container text-center">
    <div class="wrapper wow fadeInUp delay-05s">
        <h2 class="top-title">Development & Motion Design</h2>
        <h3 class="title">Hristo Hentov</h3>
        <a href=@Url.Action("Index", "Portfolio")><button type="submit" class="btn btn-submit">Check me out</button></a>
    </div>
</div>
