@model HentovWebsite.Models.View.ManageAccount.IndexViewModel

<div class="panel panel-info">
    @if (Model.User.LikedPosts.Count > 0)
    {
        <h1 class="panel-heading">Posts you've liked</h1>
        foreach (var likedPost in Model.User.LikedPosts)
        {
            @Html.ActionLink(likedPost.Title, "Post", "Blog", new { id = likedPost.Id }, new { @class = "panel-body h4" })
        }
    }
    else
    {
        <h1 class="panel-heading">You haven't liked any posts.</h1>

    }
    
</div>
