@{
    ViewBag.Title = "WELL SHIT";
}
<h1>Achievment unlocked: Brake the website.</h1>
<h2>Grats, you broke the damn site. A 404 just occured. You can contact me via the contact page to tell me what a lame developer I am</h2>
