@model HandleErrorInfo
@{
    ViewBag.Title = "Error - Hentov.NET";
}

<h2>Oops.</h2>
<h4>Something messed up. You can try repeating whatever you did a couple of times.Our idiot developers have been notified and will fix the issue ASAP.</h4>
<p>Reason for the error: <strong>@Model.Exception.Message</strong></p>

