@model HentovWebsite.Models.View.Blog.PostViewModel

@{
    ViewBag.Title = "title";
}


<div class="container">
    <h2>Delete @Model.Title</h2>

    @using (Html.BeginForm())
    {
        <h4>Sure you wanna do this?</h4>

        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("No, it was an honest mistake", "Index", null, new {@class = "btn btn-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Yeah, I know what I'm doing" class="btn btn-primary"/>
            </div>
        </div>
    }

</div>