@model HentovWebsite.Models.View.Blog.PostViewModel

@{
    ViewBag.Title = "title";
}

<h2>Delete @Model.Title</h2>

@using (Html.BeginForm())
{
    <strong><h4>Sure you wanna do this?</h4></strong>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("No, it was an honest mistake", "Index");
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.HiddenFor(model => model.Id);
            <input type="submit" value="Yeah, I know what I'm doing'" class="btn btn-default"/>
        </div>
    </div>
}
