@model HentovWebsite.Models.View.Blog.PostViewModel

@{
    ViewBag.Title = "Post";
}

<div class="container">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
        <p>@Model.Content</p>
        <div>
            <span class="badge">Posted @Model.DatePosted</span><div class="pull-right">
                <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
            </div>
        </div>
        <hr>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>