@using HentovWebsite.Utility
@model HentovWebsite.Models.View.Tutorials.TutorialViewModel

@{
    ViewBag.Title = "Delete Tutorial";
}

<div class="container">
    <h2>Delete @Model.Title</h2>

    @using (Html.BeginForm())
    {
        <h4>@WebText.BlogDeleteHead</h4>

        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink(WebText.BlogDeleteNo, "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value=@WebText.BlogDeleteYes class="btn btn-primary" />
            </div>
        </div>
    }

</div>